
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav{
  background-color: #2C3A47 ; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  :nth-child(7){
    position: absolute;
    float: right;
    right: 9rem;
  }
  :nth-child(8){
    position: absolute;
    float: right;
    right: 3rem;
  }
  :nth-child(9){
    position: absolute;
    float: right;
    right: .5rem;
  }
 
 
}


.topnav>a{
  // background-color: yellowgreen;
  float: left;
  display: block;
  padding:  1rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  
  
}



.nav_hamburger{
  display: none;
  background-color:transparent ;
  color: white;
  border: solid 0px black;
  font-size: 1.5rem;
}

a.active{
  color: #18d6e7;
}




.homeMainDiv1{
  width: 98.7vw;
  height: 100%;
  background-color: violet;
  overflow: hidden;
  .silderDiv1{
    width:100%;
    height: 90%;
    display: flex;
    position: relative;
    background-color: yellow;
    color:white;
    .overLay1{
      position: absolute;
      width:100%;
      height: 100%;
      background-color: rgb(0,0,0);
      opacity: 0.7;
    }
    h1{
      width: 55rem;
      height: 5rem;
      margin-top: 10rem;
      padding-left: 3rem;
      font-size: 4rem;
      font-family: 'Roboto Condensed', sans-serif;
      color: rgb(255, 255, 255);

      // background-color: rgb(223, 29, 29);
    }
    h2{
      width: 40rem;
      height: 2rem;
      padding-left: 3rem;
      font-size: 1.5rem;
    }
    p{
      width: 40rem;
      height: 5rem;
      margin-top: 1rem;
      padding-left: 3rem;
      font-size: 2rem;
      font-family: 'Merriweather', serif;
      // background-color: rgb(30, 76, 204);
    }
   
  }
  
}


@keyframes slide{
  0%{right:0px}
  7%{right:0px}
  14%{right:1400px}
  21%{right:1400px}
  28%{right:2800px}
  35%{right:2800px}
  42%{right:4200px}
  56%{right:4200px}
  63%{right:2800px}
  70%{right:2800px}
  84%{right:1400px}
  91%{right:1400px}
  98%{right:0px }
  100%{right:0px }
}
.homeMainDiv{
  width: 98.7vw;
  height: 100%;
  background-color: salmon;
  overflow: hidden;
  .sliderDiv{
    width: 400%;
    height: 89vh;
    background-color: rgb(21, 58, 37);
    display: flex;
    position: relative;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: slide 38s linear 2s infinite forwards alternate  ;
    .imageContainer{
      width: 25%;
      height:100%;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  .homeContentDiv{
    width: 100%;
    height: 30rem;
    // background-color: seagreen;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(4deg, rgba(255,255,255,1) 25%, rgba(44,58,71,0.9586104705554097) 92%);
    .homeContentTitle{
      position: relative;
      width: 40%;
      height: 5rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      // background-color: sienna;
      text-align: center;
      font-size: 1rem;
     color: white;
     font-family: 'Playfair Display', serif;
      
    }
    .homeContentFeatuers{
      width: 100%;
      height: 70%;
      // background-color: rgb(192, 192, 192);
      display: flex;
      .homeContentLec{
        width: 25%;
        // background-color: tan;
        position: relative;
        .homeContentLecImg{
          box-sizing: border-box;
          width: 80%;
          height: 70%;
          margin: auto;
          // background-color: sienna;
          border-radius: 50%;
          box-shadow: 2px 3px 9px 0px black;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;

          }
          p{
            width: 100%;
            margin-top: 1rem;
            font-size: .9rem;
            text-align: center;
            font-weight: 500;

          }
        }
      }
      .homeContentNotes{
        width: 25%;
        position: relative;
        // background-color: rgb(34, 30, 25);
        .homeContentNotesImg{
          box-sizing: border-box;
          width: 80%;
          height: 70%;
          margin: auto;
          // background-color: sienna;
          border-radius: 50%;
          box-shadow: 2px 3px 9px 0px black;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;

          }
          p{
            width: 100%;
            margin-top: 1rem;
            font-size: .9rem;
            text-align: center;
            font-weight: 500;

          }
        }

      }

      .homeContentTest{
        width: 25%;
        position: relative;
        .homeContentTestImg{
          box-sizing: border-box;
          width: 80%;
          height: 70%;
          margin: auto;
          // background-color: sienna;
          border-radius: 50%;
          box-shadow: 2px 3px 9px 0px black;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;

          }
          p{
            width: 100%;
            margin-top: 1rem;
            font-size: .9rem;
            text-align: center;
            font-weight: 500;

          }
        }
        // background-color: rgb(169, 199, 178);
      }
      .homeContentForum{
        width: 25%;
        position: relative;
        .homeContentForumImg{
          box-sizing: border-box;
          width: 80%;
          height: 70%;
          margin: auto;
          // background-color: sienna;
          border-radius: 50%;
          box-shadow: 2px 3px 9px 0px black;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;

          }
          p{
            width: 100%;
            margin-top: 1rem;
            font-size: .9rem;
            text-align: center;
            font-weight: 500;
          }
        }
        // background-color: steelblue;
      }
    }

  }

}



.signUpMaindiv{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  
  display: flex;
  justify-content: center;
  align-items: center;
  .mainSignUpCard{
    width: 90%;
    height: 90%;
    // background-color: cadetblue;
    display: flex;
    border-radius: 2rem;
    .mainSignUpImg{
      width: 50%;
      height: 100%;
      background-color: chocolate;
      position: relative;
      border-radius: 2rem;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .mainSignUpForm{
      width: 50%;
      height: 100%;
      background-color:#2c3a47a6;
      border-radius: 2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      border: 4px solid #2c3a47 ;
      border-left: none;

      .mainSignUpFormTitle{
        width: 100%;
        height: 2rem;
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
        color: white;
      }
      input{
        width: 25rem;
        height: 2rem;
        margin: 0 auto;
        border-radius: .5rem;
        border: none;
        outline: none;
      }
      p{
        width: 100%;
        height: 1rem;
        // background-color: yellow;
        text-align: center;
        margin: .5rem 0;
        a{
          text-decoration: none;
          color:#18d6e7 ;
        }
      }
      button{
        width: 6rem;  
        height: 2rem;
        margin: 0 auto;
        border-radius: 2rem;
        // border: none;
        // outline: none;
        background-color: #2c3a47;
        color: white;
        
      }

    }
  }
}


.mainLoginDiv{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  .loginCard{
    width: 30%;
    height: 80%;
    background-color: yellowgreen;
    margin:4rem auto;
    border-radius: 2rem;
    background-color:#2c3a47a6;
    position: relative;
    display: flex;
    flex-direction:column ;
    .loginTitle{
      width: 100%;
      height: 3rem;
      // background-color: yellowgreen;
      margin-top: 3rem;
      text-align: center;
      font-size: 2rem;
      color: white;

    }
    .loginForm{
      width: 100%;
      height: 90%;
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      input{
        width: 80%;
        height: 2rem;
        margin: 0 auto;
        border-radius: .5rem;
        border: none;
        outline: none;
      }
      p{
        width: 100%;
        height: 1.5rem;
        // background-color: yellow;
        text-align: center;
        font-size: .9rem;
        font-weight: 450;
        a{
          text-decoration: none;
          color:#18d6e7 ;
        }

      }
      button{
        width: 30%;
        height: 2rem;
        margin: 1rem auto;
        border-radius: 2rem;
        background-color:#2c3a47 ;
        color: white;
      }
      .loginHrDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
      }
      .loginHr1{
        width: 90%;
        height: 1px;
        margin: auto;
        color: black;
      }
      
      .googleLogin{
        width: 40%;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          width: 1.5rem;
          height: 1.5rem;
          margin: 0.5rem;
        }
      }
     
    }
  }
}

.profileMainDiv{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  .profileCardTitle{
    width: 80%;
    height: 100%;
    // background-color: aqua;
    margin:0 auto;
    position: relative;
    border-radius: 2rem;
    border: 3px solid white;
    background-color:#2c3a47a6;

    .profileUserName{
      width: 80%;
      height: 20%;
      // background-color: coral;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;

    }
  
    .profileCardContent{
      position: absolute;
      width: 100%;
      height: 80%;
      // background-color: blueviolet;
      bottom: 0;
      border-radius: 2rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      // border-top: 1px solid black;
      .profileImageDiv{
        position: absolute;
        width: 15%;
        height: 35%;
        // background-color: brown;
        top: -5rem;
        left: 3rem;
        border-radius: 50%;
        padding: .5rem;
        border: 3px solid white;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .profileUserDetailsDiv{
        width: 88%;
        height: 100%;
        // background-color: burlywood;
        margin-left: auto;
        border-radius: 2rem;
        .profileUserDetailsTitle{
          width: 50%;
          height: 10%;
          // background-color: cadetblue;
          margin: auto;
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            font-size: 2.5rem;
            font-weight: 300;
          }
        }
        .profileUserDetails{
          width: 100%;
          height: 85%;
          // background-color: chartreuse;
          border-radius: 2rem;
          display: flex;
          flex-direction: column;
          padding-left: 7rem;
          label{
            width: 80%;
            height: 2rem;
            // background-color: antiquewhite;
            margin-top:.5rem ;
            font-size: 1rem;
            font-weight: 400;
            input{
              width: 50%;
              height: 2rem;
              margin: 0 1rem;
              border: none;
              // border-bottom: 2px solid #2c3a47;
              border-radius: .5rem;
              font-size: 1rem;
              font-weight: 100;
              color: black;
              background-color: transparent;
            }
            select{
              width: 50%;
              height: 2rem;
              margin: 0 1rem;
              border: none;
              // border-bottom: 2px solid #2c3a47;
              border-radius: .5rem;
              font-size: 1rem;
              color: black;
              background-color: transparent;
            }
          }
          button{
            width: 7rem;
            height: 2rem;
            background-color: #2c3a47;
            color: white;
            margin: 2rem;
            border-radius: 1rem;
          }

        }
      }
    }

  }
}

























































@media only screen and(max-width:600px) {
  .topnav >a:not(:first-child){
    display: none;
  }
  .nav_hamburger{
    float: right;
    display: block;
    margin-top: 1rem;
    margin-right: .5rem;

  }
}

@media only screen and(max-width:600px)  {
  .topnav.responsive {position: relative;}
  .nav_hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  
}